:root {
  --title: #802a2a;
  --bg: #e6d8c5;
  --black: #212529;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--bg);
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%
}

figure {
  margin: 0;
}

.container {
  padding: 0 16px;
}


/* ------------------------ 天 ------------------------ */

nav {
  font-size: 1.25rem;
  background: #fff;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo {
  width: 20rem;
  height: 4rem;
  background: url(../images/北泰國際旅行社LOGO.png) no-repeat;
  background-size: contain;
}

.burger_box {
  height: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

.burger {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: relative;
}

.icon-bar {
  width: 24px;
  height: 2px;
  border-radius: 1px;
  background: var(--black);
  transition: 0.3s;
  position: absolute;
}

.icon-bar:nth-of-type(1) {
  top: 12px;
}

.icon-bar:nth-of-type(2) {
  width: 15px;
  left: 10px;
}

.icon-bar:nth-of-type(3) {
  bottom: 12px;
}

.burger.open .icon-bar:nth-of-type(1) {
  transform: rotate(45deg);
  top: 22px;
}

.burger.open .icon-bar:nth-of-type(2) {
  transform: translateX(15px) scale(0);
}

.burger.open .icon-bar:nth-of-type(3) {
  transform: rotate(-45deg);
  bottom: 20px;
}

.navbar {
  padding: 0;
}

.navbar a {
  color: var(--black);
  margin-right: 1.2rem;
  position: relative;
}

.nav-link {
  padding: .5rem;
}

.navbar a::before {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease;
}

.navbar a::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--black);
  transition: width 0.35s ease;
}

.nav-link.active::before,
.navbar a:hover::before {
  width: 100%;
  background: var(--black);
}

.nav-link.active::after,
.navbar a:hover::after {
  width: 100%;
  background: transparent;
}

.navbar a:last-of-type {
  margin-right: 0;
}

.navbar a.contact::before,
.navbar a.contact::after {
  content: none;
}

.navbar a.contact {
  border: 1px solid #737172;
  border-radius: 50px;
  padding: 0 .3rem;
  background: linear-gradient(#f7f6f6, #a6a4a4);
  box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1), 0px -2px 5px 2px rgba(0, 0, 0, 0.4);
  transition: .3s;
}

a.contact.nav-link.active,
.navbar a.contact:hover {
  box-shadow: inset 3px 3px rgb(0, 0, 0, 0.15), inset -3px -3px rgb(0, 0, 0, 0.15);
  text-shadow: 1px 1px 1px #fff;
  transition: .3s;
}

.mobile_link {
  text-align: center;
  padding: 1rem;
}

.mobile_link a {
  font-size: 2rem;
  margin-right: .5rem;
}

.mobile_link a:last-of-type {
  margin-right: 0;
}

.mobile_link .line {
  color: #1773ea;
}

.mobile_link .youtube {
  color: #f70000;
}

.mobile_link .line {
  color: #06c152;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width:1199px) {
  .mobile_link {
    display: none;
  }
}

@media (max-width:1199px) {
  .logo {
    width: 15rem;
    height: 3rem;
  }
  nav {
    border-bottom: 3px solid var(--bg);
  }
  .burger_box {
    display: flex;
  }
  .navbar_box {
    width: 10em;
    height: 100%;
    position: fixed;
    right: -100%;
    top: 83px;
    background: #fff;
    transition: .5s;
  }
  .navbar_box.show {
    right: 0;
    transition: .5s;
  }
  .navbar a.contact {
    box-shadow: none;
    background: none;
    border: none;
  }
  .navbar a.contact:hover {
    box-shadow: none;
    text-shadow: none;
  }
  .navbar a,
  .navbar a.contact {
    width: 100%;
    padding: 1rem;
    margin-right: 0;
    text-align: center;
  }
  .navbar a::before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    transition: width .3s ease;
  }
  .navbar a::after {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #FCE1CC;
    z-index: -1;
    transition: width .3s ease;
  }
  .nav-link.active::before,
  .navbar a:hover::before {
    width: 100%;
    background: #FCE1CC;
  }
  .nav-link.active::after,
  .navbar a:hover::after {
    width: 100%;
    background: transparent;
  }
  .navbar a.contact::before,
  .navbar a.contact::after {
    content: '';
  }
  a.contact.nav-link.active {
    box-shadow: none;
  }
}


/* ------------------------ banner ------------------------ */

.banner img {
  display: block;
}

@media (max-width:425px) {
  .banner img {
    height: 150px;
    object-fit: cover;
  }
}


/* ------------------------ section_a ------------------------ */

section {
  padding: 1rem 0;
  min-height: 100vh;
}

section h1 {
  font-size: 3rem;
  color: var(--title);
  text-align: center;
  margin: 5rem 0 2.5rem;
}

section .txt {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 4rem;
}

.owl-stage-outer {
  padding: 1rem 0;
}

.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}

.bus_txt {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width:1440px) {
  .content {
    margin-top: 5rem;
  }
}

@media (max-width:500px) {
  .container.carousel {
    max-width: 100%;
    padding: 0;
  }
  .tours_carousel .owl-item,
  .bus_carousel .owl-item {
    opacity: .5;
  }
  .tours_carousel .owl-item.active.center,
  .bus_carousel .owl-item.active.center {
    opacity: 1;
    transform: scale(1.1);
    transition: .5s;
  }
}

@media (max-width:425px) {
  section h1 {
    font-size: 2.5rem;
    margin: 3rem 0 2rem;
  }
}


/* ------------------------ section_b ------------------------ */

.choose_box h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.choose_txt {
  font-size: 1.125rem;
  text-align: center;
  min-height: 160px;
  margin-bottom: 1rem;
}

.owl-theme .owl-dots .owl-dot span {
  background: #BABEE6;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #747899;
}

@media (max-width:1199px) {
  .choose_txt {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  .choose_txt {
    min-height: 180px;
  }
}

@media (max-width:767px) {
  .choose_txt {
    min-height: 150px;
  }
}

@media (max-width:420px) {
  .choose_txt {
    min-height: 170px;
  }
}


/* ------------------------ section_c ------------------------ */

#section_c {
  background: url(../images/台灣地圖.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.day_box {
  display: flex;
  overflow: hidden;
}

.tours_title {
  padding: 1rem 0;
}

.tours_title h4 {
  width: 10em;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-right: 2rem;
  padding: .5rem 1rem;
  border-radius: 20px;
  background: linear-gradient(#fff, #0270a7, #008dd2);
  box-shadow: inset 3px 0 2px rgba(4, 87, 130, 0.9), inset -3px 0 2px rgba(4, 87, 130, 0.9);
}

.tours_carousel {
  width: 80%;
}

.tours_txt {
  font-size: 1.25rem;
  color: var(--black);
  text-align: center;
  margin-top: 1rem;
}

.tours_img {
  overflow: hidden;
}

.tours_carousel a img {
  transition: .5s;
}

.tours_carousel a:hover img {
  transform: scale(1.2);
  filter: brightness(60%);
  transition: .5s;
}

@media (max-width:1199px) {
  #section_c {
    background: none;
  }
  .day_box {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .tours_title h4 {
    width: auto;
    display: inline-block;
    margin-right: 0;
  }
  .tours_carousel {
    width: 100%;
  }
}

@media (max-width:500px) {
  .tours_title h4 {
    margin: 0 1rem;
  }
}

@media (max-width:425px) {
  .tours_title {
    text-align: center;
  }
}


/* ------------------------ section_d ------------------------ */

.reviews_txt,
.star {
  font-size: 1.25rem;
  text-align: center;
  margin-top: 1.5rem;
}

.star {
  margin-top: 1rem;
}

.star span {
  color: #e1a904;
  margin-right: 1rem;
}


/* ------------------------ section_e ------------------------ */

.form-control {
  height: calc(1.5em + 0.75rem + 10px);
}

textarea {
  width: 100%;
}

.d-flex {
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

label {
  font-size: 1.25rem;
}

label:first-of-type {
  margin-right: 1.5rem;
}

.checkbox {
  display: none;
}

.check_label {
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.check_button {
  position: absolute;
  left: 0;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background: #FFF;
  display: inline-block;
}

.check_button::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  display: block;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.checkbox:checked~.check_button::after {
  opacity: 1;
}

@media (max-width:991px) {
  .d-flex {
    flex-direction: column;
  }
}


/* ------------------------ footer ------------------------ */

footer {
  background: #a6a6a6;
  padding: 1rem;
  display: flex;
}

.f_box {
  width: 31%;
  margin: 0 1.16666%;
}

.f_txt p {
  margin-bottom: .5rem;
}

.f_txt p:last-of-type {
  margin-bottom: 0;
}

.f_link {
  display: flex;
  align-items: center;
}

.f_link a {
  margin-right: 1.5rem;
}

.f_link a img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.f_link a:last-of-type {
  margin-right: 0;
}

@media (max-width: 991px) {
  footer {
    flex-direction: column;
  }
  .f_box {
    width: 100%;
    margin: 0 0 1.5rem;
  }
  .f_logo {
    width: 60%;
  }
  .f_box:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width:600px) {
  .f_logo {
    width: 100%;
  }
}
